<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<title>입트영</title>
</head>

<body class="bg-light">
	<nav th:replace="~{navbar :: navbarFragment}"></nav>

	<div th:replace="~{alert :: alertFragment}"></div>

	<main class="main-content">
		<div class="container my-4">
			<div class="row">
				<!-- 사이드바 -->
				<div th:if="${currentURI != null and (#strings.startsWith(currentURI, '/user') 
				                or #strings.startsWith(currentURI, '/instructor') 
				                or #strings.startsWith(currentURI, '/instructor/quiz'))}" class="col-lg-3">
					<div th:replace="~{sidebar :: sidebarFragment(currentURI=${currentURI}, activeMenu=${activeMenu})}">
					</div>
				</div>

				<!-- 콘텐츠 영역 -->
				<div th:class="${currentURI != null and (#strings.startsWith(currentURI, '/user') 
				                or #strings.startsWith(currentURI, '/instructor') 
				                or #strings.startsWith(currentURI, '/instructor/quiz'))} ? 'col-lg-9' : 'col-12'">
					<th:block layout:fragment="content"></th:block>
				</div>
			</div>
	</main>


	<footer th:replace="~{footer :: footerFragment}"></footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<th:block layout:fragment="script"></th:block>
</body>

</html>